.osom-area .highlight
  background: yellow

.osom-area .cursor
  display:    inline-block
  margin:     0
  padding:    0
  margin-top: 1.2em
  border:     none
  background: none
  float:      none
  position:   static